* {
  margin: 0;
  padding: 0;
}
.main_Container {
  margin: auto;
  width: 99.5%;
  overflow-x: hidden;
  
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  
  height: 99vh;
  border: 1px solid red;
  background: #4c566a;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(164, 164, 179);
  width: 100%;
  height: 80px;
  border: 1px solid green;
}
.header .img_Container {
  position: relative;
  left: 2%;
  width: 100px;
  height: 100%;
}
.img_Container img {
  position: relative;
  top: 10%;
  width: 100%;
  height: 70%;
}
.username p {
  font-style: italic;
  font-size: 22px;
  margin-top: 1.3%;
  margin-left: -95%;
}
.dropbtn {
  margin-top: 10%;
  background-color: #04aa6d;
  border-radius: 12px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 3%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #dddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.task_Container {
  position: relative;
  margin: auto;
  width: 80%;
  height: 300px;
  border: 1px solid red;
  margin-top: 1%;
  overflow-y: auto;

 
}
.userInput {
  margin-top: 2%;
  margin-left: 10%;
  border: 1px solid greenyellow;
  width: 80%;
  height: 200px;
}
.userInput input {
  display: block;
  width: 70%;
  height: 35px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  text-align: center;
}
.userInput button {
  position: relative;
  width: 100px;
  height: 40px;
  padding: 4px;
  border-radius: 15px;
  left: 36%;
  text-align: center;
}
#save {
  margin-right: 3%;
}
